@tailwind base;
@tailwind components;
@tailwind utilities;

/* .zt_purple {
color: rgb(155 38 182);
} */
a[aria-hidden='true']::before {
  content: '#'; /* Insert the hash */
  opacity: 0; /* Start hidden */
  transition: opacity 0.2s;
  margin-right: 0.25rem; /* Adjust spacing if needed */
  color: #6b7280; /* Use a Tailwind color or any desired color */
}

/* Show the hash when hovering over the heading */
/* h1:hover a[aria-hidden="true"]::before,
  h2:hover a[aria-hidden="true"]::before,
  h3:hover a[aria-hidden="true"]::before,
  h4:hover a[aria-hidden="true"]::before,
  h5:hover a[aria-hidden="true"]::before,
  h6:hover a[aria-hidden="true"]::before {
    opacity: 1;
  } */

h1,
h2,
h3,
h4,
h5,
h6, {
  scroll-margin-top: 80px; /* Adjust based on header height */
}
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a {
  font-family: 'Inter-SemiBold';
}
b,
strong {
  font-family: 'Inter-SemiBold';
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter-Regular';
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src:
    url('./public/fonts/Inter28pt-ExtraBold.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src:
    url('./public/fonts/Inter28pt-Bold.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Black';
  src:
    url('./public/fonts/Inter28pt-Black.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src:
    url('./public/fonts/Inter28pt-ExtraLight.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Thin';
  src:
    url('./public/fonts/Inter28pt-Thin.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  src:
    url('./public/fonts/Inter28pt-Medium.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src:
    url('./public/fonts/Inter28pt-SemiBold.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Light';
  src:
    url('./public/fonts/Inter28pt-Light.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  src:
    url('./public/fonts/Inter28pt-Regular.woff2') format('woff2'),
    url('./public/fonts/Inter28pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


h2 {
  @apply text-2xl text-[#3c3c43] mt-10 mb-4
}
h3 {
  @apply text-xl text-[#3c3c43] mt-12 mb-4
}
p {
  @apply font-zt_regular text-base tracking-wide my-4 text-[#3c3c43] leading-[26px]
}
ul, ol {
  @apply ml-10 mb-5
}
ul {
  @apply list-disc
}
ol {
  @apply list-decimal
}
ul li, ol li {
  @apply mt-3 mb-2 font-zt_regular text-base tracking-wide text-[#3c3c43]
}
ul li ul, ol li ul {
  @apply ml-5 list-none
}
ol li ul li {
  @apply after:hidden list-disc
}
ol li ul li ul li ul li {
  @apply list-none after:content-['-']
}
li ul li, ol li ul li ul li {
  @apply text-sm mt-2 tracking-wider font-zt_regular leading-6 relative after:absolute after:-left-5 after:top-[1px] after:text-black after:content-['⮚']
}
ol li ul li ul li {
  @apply list-none after:inline-block
}
li ul li ul li {
  @apply text-sm mt-2 tracking-wider font-zt_regular leading-6 relative after:absolute after:-left-5 after:top-[1px] after:text-black after:content-['⬥']
}
ul li > ul li code, ol li > ul li code {
  @apply text-xs
}
ul li ul li strong, ol li ul li strong {
  @apply p-0
}
ul li strong, ol li strong {
  @apply pb-1 inline-block
}
ul li a strong {
  @apply text-zt_purple hover:underline pb-0
}
p a strong, h6 a strong, ol li a strong, ul li a strong {
  @apply text-zt_purple hover:underline
}
img {
  @apply my-5 border mx-auto
}
ul li img, ol li img {
  @apply p-0 border rounded-md shadow-md mx-1 inline-block my-0
}
code {
  @apply text-xs bg-slate-50 px-2 py-0.5 text-gray-800 font-zt_regular tracking-widest leading-none border rounded-md
}
details {
  @apply border rounded-md px-4 py-3 text-base tracking-wide text-[#3c3c43] cursor-pointer bg-slate-50
}
blockquote {
  @apply bg-zt_purple/5 border-l-4 border-zt_purple/70 py-2 px-3
}
blockquote p {
  @apply leading-6 italic
}
.right_navlinks p, .right_navlinks ul li {
  @apply my-2
}
.right_navlinks ul {
  @apply ml-4 mb-0
}